[graph]
all-features = true

[advisories]
db-urls = ["https://github.com/RustSec/advisory-db"]

[bans]
multiple-versions = "warn"

[licenses]
confidence-threshold = 0.8
allow = ["MIT", "Apache-2.0", "Unicode-3.0"]

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []
